POSTGRES_PORT=5433
POSTGRES_USER=admin
POSTGRES_PASSWORD=Test@123
POSTGRES_DB=kapter_db
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_MEETING_BUCKET=kapter-meetings
