# .env.development
# VITE_API_URL=http://localhost:3001
# VITE_WS_URL=http://localhost:3001
# VITE_WEBAPP_URL=http://localhost:5173
VITE_DEBUG=true

# .env.production
VITE_API_URL=https://kapter-api.sondndev.id.vn
VITE_WS_URL=https://kapter-api.sondndev.id.vn
# VITE_WEBAPP_URL=https://kapter.sondndev.id.vn
VITE_WEBAPP_URL=https://a20-app-015.sondndev.id.vn
# VITE_DASHBOARD_URL=https://app.kapter.app
# VITE_DEBUG=false