# .env.development
VITE_API_URL=http://localhost:3001
VITE_WEBAPP_URL=http://localhost:5173
VITE_WS_URL=http://localhost:3001
VITE_DEBUG=true

# .env.production
# VITE_API_URL=https://<your-backend-app>.herokuapp.com
# VITE_WS_URL=https://<your-backend-app>.herokuapp.com
# VITE_WEBAPP_URL=https://<your-webapp>.vercel.app
# VITE_DEBUG=false