VITE_CLERK_PUBLISHABLE_KEY=pk_test_replace_me
VITE_API_URL=http://localhost:3001
VITE_CLERK_EXTENSION_TOKEN_TEMPLATE=kapter-extension
VITE_EXTENSION_TEST_BUILD_URL=https://drive.google.com/file/d/1SmRTujI8Sr2-iJrfk_7xkgCwe_BqVlAP/view?usp=sharing

# Production example
# VITE_API_URL=https://<your-backend-app>.herokuapp.com
# VITE_CLERK_PUBLISHABLE_KEY=pk_live_replace_me
# VITE_CLERK_EXTENSION_TOKEN_TEMPLATE=kapter-extension